# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-wheel-metadata/
.pytest_cache/
.mypy_cache/
.pyre/
.ruff_cache/
*.egg-info/

# Data files
/data/

# Config - DO NOT COMMIT YOUR KEYS
config.yaml

# IDE and OS files
.idea/
.vscode/
.DS_Store
